@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron BookliveCover">
    <h1>BookLive</h1>
    <p class="lead">Book and get booked.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Browse</h2>
        <p>
            Talent booking made easy. Browse through local musicians, actors, artists, etc. Say goodbye to traditional dial-up hiring.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Promote</h2>
        <p>Trying to make it big but don't know how? No worries. Post a short video clip of what you can do and show off to local event planners and bussinesses. </p>
    </div>
    <div class="col-md-4">
        <h2>Get Booked</h2>
        <p>Seamlessly communicate and dispute terms with potential contractors/contractees.</p>
    </div>
</div>